* {
    font-family: sans-serif;
}

.block-content {
    width: 600px;
    margin: 50px auto;
}

.yellow-block {
    background-color: #f9a91a;
    color: #FFF;
}

.mid-block {
    background-color: #f1f1f1;
    color: #333;
}

.yellow-block,
.border-block,
.mid-block {
    height: 50px;
    padding: 5px;
    margin-bottom: 20px;
}

.caps {
    text-transform: uppercase;
}